<?xml version="1.0"?>
<ServerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerName>Test-Server</ServerName>
  <Port>9054</Port>
  <Slots>20</Slots>
  <World>NewWorld\NewWorld.zen</World>
  <password />
  <Spawn />
  <Modules />
  <chatOptions>
    <All>true</All>
    <Distance>true</Distance>
    <Private>true</Private>
    <Friends>false</Friends>
    <Guild>false</Guild>
    <DistanceRange>500</DistanceRange>
    <BlockOptions>
      <blockInWater>false</blockInWater>
      <blockWhenDead>false</blockWhenDead>
      <blockWhenUnconscious>false</blockWhenUnconscious>
      <blockWhenSleep>false</blockWhenSleep>
    </BlockOptions>
  </chatOptions>
  <HideNames>false</HideNames>
  <OnlyHumanNames>false</OnlyHumanNames>
  <ShowConnectionMessages>true</ShowConnectionMessages>
  <AvailableFriends>true</AvailableFriends>
  <ImmortalFriends>true</ImmortalFriends>
  <RemoveNPCTime>30</RemoveNPCTime>
  <LoadItemFromFile>false</LoadItemFromFile>
  <UnLockAll>false</UnLockAll>
  <day>0</day>
  <hour>12</hour>
  <minute>0</minute>
  <enableStamina>true</enableStamina>
  <staminaValue>dex*100</staminaValue>
  <time24h>false</time24h>
  <timeStopped>false</timeStopped>
  <InventoryLimit>-1</InventoryLimit>
</ServerConfig>